{% extends 'main/base.html' %}
{% block title %}
    {{ object.title }}
{% endblock %}
<body>
{% block content %}
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-3">
        <div class="card" style="width: 18rem;">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{ object.title }}</h5>
                <p class="card-text">{{ object.description }}</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">{{ object.author }}</li>
                <li class="list-group-item">{{ object.created }}</li>
                <li class="list-group-item">{{ object.modified }}</li>
                  <li class="list-group-item">{{ object.status }}</li>
                  <li class="list-group-item">{{ object.customer }}</li>
                  <li class="list-group-item">{{ object.contact }}</li>
              </ul>
              <div class="card-body">
                <a href="{% url 'activity_edit' activity_pk=object.id %}" class="card-link">Edit</a>
                <a href="{% url 'activity_delete' activity_pk=object.id %}" class="card-link">Delete</a>
              </div>
        </div>
          </div>
    </div>
{% endblock %}
</body>
</html>