{% extends 'main/base.html' %}
{% block title %}
    Activities
{% endblock %}
{% block content %}
<body>
<div class="container">
        <a href="{% url 'activity_add' %}">
            <button type="button" class="btn btn-success">
            Add Activity
            </button>
            </a>
    </button>
<table class="table">
  <thead>
    <tr>
          <th scope="col">Author</th>
          <th scope="col">Created</th>
          <th scope="col">Modified</th>
          <th scope="col">Status</th>
          <th scope="col">Type</th>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col">Customer</th>
          <th scope="col">Contact</th>
          <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  {% for object in object_list %}
    <tr>
         <td>{{ object.author }}</td>
         <td>{{ object.created }}</td>
         <td>{{ object.modified }}</td>
         <td>{{ object.status }}</td>
         <td>{{ object.type }}</td>
         <td>{{ object.title }}</td>
         <td>{{ object.description }}</td>
         <td>{{ object.customer }}</td>
         <td>{{ object.contact }}</td>

        <td>
            <div class="col">
                    <div class="row">
                        <a href="{% url 'activity_edit' activity_pk=object.id %}">
                    <button type="button" class="btn btn-secondary">Edit</button>
                        </a>
                    </div>
                    <div class="row">
                        <a href="{% url 'activity_delete' activity_pk=object.id %}">
                            <button type="button" class="btn btn-danger">Delete</button>
                        </a>
                    </div>
                    <div class="row">
                        <a href="{% url 'activity' activity_pk=object.id %}">
                            <button type="button" class="btn btn-primary">View</button>
                        </a>
                    </div>
            </div>
         </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
    </div>
</body>
{% endblock %}

