{% extends 'main/base.html' %}

{% block title %}
Opportunities
{% endblock %}

<body>
{% block content %}
<div class="container">
        <a href="{% url 'opportunity_add' %}">
            <button type="button" class="btn btn-success" style="margin-bottom: 25px;">
                Add new
            </button>
        </a>
<table class="table" style="margin-top:30px;">
  <thead>
    <tr>
          <th scope="col">Account</th>
          <th scope="col">Contact</th>
          <th scope="col">Created</th>
          <th scope="col">Modified</th>
          <th scope="col">Last activity</th>
          <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  {% for object in object_list %}
    <tr>
         <td>{{ object.account }}</td>
         <td>{{ object.contact }}</td>
         <td>{{ object.created }}</td>
         <td>{{ object.modified }}</td>
         <td>
             <a href="{% url 'activity' activity_pk=object.id %}">{{ object.activities }}</a>
         </td>
        <td>
            <div class="container">
             <a href="{% url 'opportunity_edit' opportunity_pk=object.id %}"
                <button type="button" class="btn btn-secondary" style="width=15px;">Edit</button>
            </a>
            <a href="{% url 'opportunity_delete' opportunity_pk=object.id %}"
                <button type="button" class="btn btn-danger">Delete</button>
            </a>
            <a href="{% url 'opportunity' opportunity_pk=object.id %}"
                <button type="button" class="btn btn-primary" style="margin-left=15px;">View</button>
            </a>
                </div>
         </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
    </div>
{% endblock %}
</body>
