{% extends 'main/base.html' %}

{% block title %}
    Confirm delete {{ object.title }}
{% endblock %}

{% block content %}
<body>
 <div class="container-sm">
     <div class="row g-3">
         <div class="col-sm-3"></div>
         <div class="col">
            <form method="post" class="form-control" style="background-color: rgba(0,0,255,.1);">{% csrf_token %}
                 <div class="row g-1 .custom-header" style="margin-bottom:30px;"></div>
                 <div class="row g-1 "></div>
                <div class="row g-1 w-80 p-3">
                    <p> <b>Title:</b> {{ object.title }}</p>
                </div>
                <div class="row g-1 w-80 p-3">
                    <p> <b>Account:</b> {{ object.account }}</p>
                </div>
                <div class="row g-1 w-80 p-3">
                    <p> <b>Contact:</b> {{ object.contact }}</p>
                </div>
                <div class="row g-1 w-80 p-3">
                    <p> <b>Last Activity:</b> {{ object.activities }}</p>
                </div>
                <div class="row g-1 w-80 p-3" style="margin-bottom:30px;">
                    <input class="w-25 p-1" type="submit" value="Delete">
                </div>
            </form>
         </div>
         <div class="col-sm-3"></div>
 </div>
     </div>
{% endblock %}