{% extends 'base.html' %}

{% block title %}
    Authors
{% endblock %}



{% block content %}
{% for author in authors %}
<div class="container-lg" style="margin-top: 2rem;">
        <div class="col-lg">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                      <img src={{ author.image_url }} alt="..."
                           style="margin-top: 1rem; margin-left: 1rem; margin=bottom: 1rem; weight: 198px;">
                    </div>
                    <div class="col-md-7">
                      <div class="card-body">
                        <h5 class="card-title">{{ author.name }}</h5>
                        <p class="card-text">{{ author.annotation }}</p>
                          <a class="btn btn-primary" href="{{ url_for('authors_app.author_details', author_id=author.id) }}">
                              Подробнее
                          </a>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
{% endblock %}