{% extends 'base.html' %}

{% block title %}
    Contacts
{% endblock %}


{% block content %}
  <div class="container">
    <h1 class="display-5">Обратная связь</h1>
    <p class="lead">Для связи с нами используйте эту форму</p>
      <form style="width: 600px; margin-top: 2rem;">
          <div class="row">
            <div class="col">
              <input type="text" class="form-control" placeholder="Email">
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Nickname">
            </div>
          </div>
                <div class="col" style="margin-top: 2rem;">
              <input type="text" class="form-control" placeholder="Тема">
            </div>
            <div class="row" style="height: 400px; margin-top: 2rem;">
                <div class="col">
                    <input type="text" class="form-control" placeholder=""
                           style="height: 200px; margin-bottom: 1rem;">
                    <button type="submit" class="btn btn-primary">Написать нам</button>
                </div>
            </div>
        </form>
  </div>
{% endblock %}