{% extends 'base.html' %}

{% block title %}
    Main page
{% endblock %}



{% block content %}
<div class="container-lg" style="margin-top: 1.5rem">
    <div class="row">
        <div class="col-sm">
            <div class="card mb-3"  style="width: 60rem">
                <div class="row g-0">
                    <div class="col-md-4">
                      <img src="../static/images/who_found_grabed.png" alt="..." style="margin-top: 1rem; margin-left: 1rem;">
                    </div>
                    <div class="col-md-7">
                      <div class="card-body">
                        <h5 class="card-title">Кто нашёл берёт себе</h5>
                          <h6 class="card-subtitle mb-2 text-muted">Стивен Кинг</h6>
                        <p class="card-text">Гений — писатель Ротстайн, прежде бунтарь, а теперь затворник,
                            вот уже 18 лет ничего не публикует. Но это не значит, что он ничего не пишет.
                            В его доме, в сейфе — множество черновиков, ждущих «своего часа».
                            Сборник стихов, рассказов и 2 романа - продолжение знаменитой саги,
                            изменившей судьбу едва ли не целого поколения фанатов Ротстайна.
                            Но черновики похищают, а Ротстайна жестоко убивают.
                            Проходит 36 лет, прежде чем блокноты писателя вновь всплывают на поверхность.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                          <a class="btn btn-primary" href="post.html">Подробнее</a>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}